---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/***************/
/* BREAKPOINTS */
/***************/

$breakpoints: (
    sm: (
        min: 576px,
        max: 575.98px,
    ),
    md: (
        min: 768px,
        max: 767.98px
    ),
    lg: (
        min: 992px,
        max: 991.98px
    ),
    xl: (
        min: 1200px,
        max: 1199.98px
    ),
    xxl: (
      min: 1400px,
      max: 1399.98px,
    )
);

@mixin breakpoint($breakpoint, $direction: min) {
    
    //check if the supplied breakpoint exists in our breakpoits map
    @if map-has-key($breakpoints, $breakpoint) { 
        $breakpoint-values: map-get($breakpoints, $breakpoint);
        $breakpoint-min: map-get($breakpoint-values, min);
        $breakpoint-max: map-get($breakpoint-values, max);

        //check if we are writing styles for larger or smaller screens
        @if $direction == min {
            @media (min-width: $breakpoint-min) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint-max) {
                @content;
            }
        }
    
    // use the custom value if the breakpoint is not part of the pre-defined list
    } @else {
        
        @if $direction == min {
            @media (min-width: $breakpoint) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint) {
                @content;
            }
        }
    }
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;

  @include breakpoint(sm, max) {
    scroll-padding-top: 50px;
  }
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 15px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

//
// about
//

.about_education {
  display: flex;

  div {
    width: 100%;
  }

  @include breakpoint(sm, max) {
    flex-direction: column;
    width: 100%;

    div {
      width: 100%;
    }
  }
}

.about_avatar {
  width: 21rem;
  height: 24rem;
  border-radius: 20px;
}

.about_avatar_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(sm, max) {
    display: none;
  }
}

.about_avatar_container_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;


  @include breakpoint(sm, max) {
    display: flex;
  }
}

.about_socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 1.5rem;
  gap: 0.5rem;

  @include breakpoint(sm, max) {
    margin: 1rem 0;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.email {
  @include breakpoint(sm, max) {
    svg {
      height: 1.75rem;
      width: 1.75rem;
    }
  }
}

.socials_name {
  display: block;

  @include breakpoint(sm, max) {
    display: none;
  }
}


.about_heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #404040;
}

.about_papers {
  h4 {
    margin-bottom: 0.5rem;
  }

  .about_content {
    margin-top: 0.5rem;
  }
}

.about_content {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.5;
}

.about_title {
  font-size: 4rem;
  line-height: 1;

  @include breakpoint(md, max) {
    font-size: 3rem; 
    line-height: 1;
  }

  @include breakpoint(sm, max) {
    font-size: 2rem; 
    line-height: 1;
  }
}

.about_title_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;

  h1 {
    margin-top: 0;
  }

  p {
    color: #404040;
    font-size: 2rem;
    font-weight: 100;
  }
}

.about_hr {
  height: 0.35rem;
  width: 7rem;
  border-radius: 20px;
  background-color: #404040;
}

.about_contact {
  display: flex;
  flex-direction: column;

  p {
    margin: 0 
  }

  a {
    color: #4183c4;
  }

  @include breakpoint(sm, max) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

.publication_title_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.publication_title {
  font-size: 4rem;
  margin-top: 1rem;
  line-height: 1;

  @include breakpoint(md, max) {
    font-size: 3rem; 
    line-height: 1;
  }

  @include breakpoint(sm, max) {
    font-size: 2rem; 
    line-height: 1;
  }
}

.publication_google_scholar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008aff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #404040;
  margin-bottom: 2rem;
}

.publication_heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #404040;
}

.publication_table_data {
  display: flex;
}

.publication_table_image {
  border: 1px solid #cccccc;
  border-right: 0px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publication_image {
  object-fit: contain;
  width: 8rem;
}

.publication_year_heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #404040;
  margin: 0;
  margin-top: 1rem;
}

.publication_table_content_container {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 0.5rem;
  border: 1px solid #cccccc;
}

.publication_table_content_heading {
  font-family: "Open Sans", sans-serif;
  color: #404040;
  font-size: 1rem;
  margin: 3px 0;
}

.publication_table_content_authors {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #404040;
  margin: 3px 0;
}

.publication_table_journal_publication_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #fd9b9d; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_preprint_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #06ef21; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_peer_reviewed_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #14BDD3; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_patent_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #ff9fe8; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_conference_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #baabd9; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_lecture_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #C4BC96; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_seminar_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #fac905; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_podcast_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #a0eeee; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_webinar_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #f9cfc3; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.publication_table_presentation_tag {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #000;
  background-color: #f0a1f9; 
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 0px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  position: sticky;
  top: 0; 
  z-index: 1000; 
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  @include breakpoint(sm, max) {
    display: none;
  }
}

.navigation_mobile {
  @include breakpoint(sm, max) {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem 0;
    position: sticky;
    top: 0; 
    width: 100%;
    z-index: 1000; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  @include breakpoint(sm) {
    display: none;
  }
}

.navigation_mobile.visible {
  display: flex;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 30px;
}

.nav_links {
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 44px; /* Adjust based on your navbar height */
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 999;
}

.nav_links.active {
    display: flex;
}

.nav_button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 20px;
}

.nav_button:hover {
  background-color: #f3f3f4;
  color: black;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
